@charset "UTF-8";
/*　header　---- */
header {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: 0.5s all;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  padding: 10px 2%;
  margin: 0 auto;
}

.logo a {
  display: block;
  transition: 0.5s all;
}
.logo a img {
  height: 60px;
}

.logo-white {
  display: none;
}
.logo-white a {
  display: block;
}

.menu-btn {
  right: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
  width: 80px;
  height: 60px;
  z-index: 999;
}
.menu-btn span {
  display: block;
  position: relative;
  top: 25px;
  margin: 0 auto;
  width: 50px;
  height: 2px;
  background-color: #333;
  transition: 0.5s;
}
.menu-btn span:nth-child(2) {
  top: 15px;
  transition: 0.5s;
}
.menu-btn span:nth-child(3) {
  top: 5px;
  transition: 0.5s;
}

.main-nav {
  display: none;
}

.sub-nav {
  transform: translateX(200%);
  position: fixed;
  text-align: center;
  right: 0;
  top: 0;
  width: 40%;
  height: 100vh;
  padding: 100px 20px 20px 20px;
  font-size: 2.2rem;
  font-weight: 600;
  box-shadow: 4px 4px 16px #808080;
  transition: 0.5s ease;
  z-index: 99;
  background-color: rgba(242, 242, 242, 0.9); /* 透明な背景色 */
}
.sub-nav ul li {
  padding: 20px 0 20px 0;
  border-bottom: #333 solid 1px;
}

.sub-nav.active {
  transform: translateX(0);
  z-index: 99;
}

.menu-btn.active span {
  width: 50px;
  background-color: transparent;
}
.menu-btn.active span:nth-child(2), .menu-btn.active span:nth-child(3) {
  top: 0;
  z-index: 999;
}
.menu-btn.active span:nth-child(2) {
  transform: rotate(-45deg);
  background-color: #333;
  top: 20px;
}
.menu-btn.active span:nth-child(3) {
  transform: rotate(45deg);
  background-color: #333;
  top: 0px;
}

/* 「scroll-navクラス」がヘッダーについたとき */
header.scroll-nav {
  /* 余白を狭くする */
  height: 55px;
  background: #24386b;
}

header.scroll-nav .logo {
  display: none;
  transition: 0.5s all;
}

header.scroll-nav .logo-white {
  display: block;
  width: 45px;
  margin-top: 5px;
  transition: 0.5s all;
}

header.scroll-nav ul li a {
  height: 40px;
  color: #f7f7f7;
}

header.scroll-nav .header-inner {
  padding: 0 2%;
}

header.scroll-nav .menu-btn {
  height: 50px;
}

header.scroll-nav .menu-btn span {
  background-color: #fff;
}

header.scroll-nav .menu-btn span:nth-child(2), header.scroll-nav .menu-btn span:nth-child(3) {
  background-color: #fff;
}

header.scroll-nav .menu-btn.active span:nth-child(1) {
  display: none;
}

header.scroll-nav .menu-btn.active span:nth-child(2) {
  top: 28px;
}

header.scroll-nav .menu-btn.active span:nth-child(3) {
  top: 4px;
}

/*　メイン　---- */
.full-screen {
  background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 100%;
  transform: translateY(-20%);
  margin: 50px auto;
}

.main-bg {
  margin: 80px auto 60px auto;
  text-align: center;
}
.main-bg .bg {
  height: 100vh;
  transform: translateY(0%);
  width: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.main-bg .bgicon {
  width: 35px;
  position: absolute;
  top: 40%;
  right: 14%;
  animation: bounce 2s ease-in-out infinite;
}
@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -30px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.main-bg_text, .main-bg_textwrap {
  position: relative;
  display: inline-block;
  text-align: left;
  transform: translateY(-65%);
}

.main-bg_textwrap {
  display: inline-block;
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  margin: 15px 0;
}

.main-bg_text.is-animated, .main-bg_textwrap::before {
  animation: main-bg_text 10s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  background: linear-gradient(to right, #ff6900 0%, #fca000 50%, #fcd15b 100%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left center;
}

.main-bg_text .main-bg_textwrap .inn {
  color: #fff;
  display: inline-block;
  font-weight: bold;
  padding: 5px 15px;
  position: relative;
  z-index: 1;
}

@keyframes main-bg_text {
  0% {
    opacity: 0;
    transform: scaleX(0) translateX(-5%);
  }
  30% {
    transform: scaleX(1) translateX(0);
  }
  100% {
    transform: scaleX(1) translateX(0);
  }
  30%, 100% {
    opacity: 1;
  }
}
/*　メイン、スクロールフェードイン　---- */
.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.5s, transform 1s;
}

.fade.scroll-up {
  opacity: 1;
  transform: translateY(0px);
}

/*　ワークス　---- */
.works-bigheadline {
  margin-bottom: 40px;
}
.works-bigheadline::before {
  content: "Works";
  display: inline-block;
  font-family: mrsheffield-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 300%;
  color: #9ba6b0;
  transform: rotate(-13deg);
  letter-spacing: 5px;
  position: absolute;
  bottom: 10px;
  top: -75px;
  left: 40%;
  z-index: -1;
}

.works-Subheading {
  margin-bottom: 25px;
}

/*　ワークス　ウェブサイト---- */
.gym {
  font-family: toppan-bunkyu-gothic-pr6n, sans-serif;
}

.dental, .teaser {
  font-family: "FOT-TsukuARdGothic Std", sans-serif;
  font-style: normal;
}

.salon {
  font-family: "fot-rodin-pron", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.works-website {
  height: 200px;
  max-width: 750px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
}

.works-website_img {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.works-website_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 2px 5px #424242;
  letter-spacing: 0.12rem;
  z-index: 2;
}
.works-website_text::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  box-shadow: 3px 2px 5px #424242;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
.works-website_text:hover::after {
  transform: scale(1, 1);
}

.works-website:hover .works-website_text::after {
  transform: scale(1, 1);
}

/*　ワークス　バナー---- */
.works-banner {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.works-banner_img {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.works-banner_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 2px 5px #424242;
  letter-spacing: 0.12rem;
  z-index: 2;
}
.works-banner_text::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  box-shadow: 3px 2px 5px #424242;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
.works-banner_text:hover::after {
  transform: scale(1, 1);
}

.works-banner:hover .works-banner_text::after {
  transform: scale(1, 1);
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(95, 95, 95, 0.5);
  z-index: 1;
}
.image-overlay:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

/*　アバウト　---- */
.about {
  background: url(../img/form-background.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.about-bigheadline {
  margin-bottom: 10px;
}
.about-bigheadline::before {
  content: "About";
  display: inline-block;
  font-family: mrsheffield-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 300%;
  color: #9ba6b0;
  transform: rotate(-13deg);
  letter-spacing: 5px;
  position: absolute;
  bottom: 10px;
  top: -75px;
  left: 40%;
  z-index: -1;
}

/*　アバウト　スキル　---- */
.works-skill {
  margin-bottom: 100px;
}
.works-skill ul {
  margin: 0 auto;
  max-width: 500px;
  text-align: left;
  background-color: #fff;
}
.works-skill ul li {
  margin: 15px 0;
  padding: 30px;
  border-bottom: #adadad 1px solid;
}
.works-skill ul li:nth-child(3) {
  border-bottom: none;
}

.works-skill_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.works-skill_title img {
  width: 35px;
}
.works-skill_title span {
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 10px;
}

.works-skill_text p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  padding-top: 20px;
  text-align: justify;
}

/*　アバウト　プロフィール　---- */
.about-profile {
  max-width: 600px;
  margin: 0 auto;
}
.about-profile img {
  width: 110px;
  height: 110px;
  border-radius: 50px;
  margin-bottom: 30px;
}

.about-profile_text {
  border-radius: 50px;
  padding: 20px;
}
.about-profile_text p {
  text-align: justify;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: 0.3rem;
  padding: 6px 0;
}

/*　問い合わせ　---- */
.contact {
  background: url(../img/form-background.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.contact-bigheadline {
  margin-bottom: 10px;
}
.contact-bigheadline::before {
  content: "Contact";
  display: inline-block;
  font-family: mrsheffield-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 300%;
  color: #9ba6b0;
  transform: rotate(-13deg);
  letter-spacing: 5px;
  position: absolute;
  bottom: 10px;
  top: -80px;
  left: 35%;
  z-index: -1;
}

.contact-text {
  font-size: 1.6rem;
  text-align: left;
  margin: 20px 0 20px 30px;
  line-height: 2.5rem;
}

.contact-form {
  margin: 0 auto;
  max-width: 1000px;
  padding: 10px 20px 20px 20px;
  text-align: left;
  font-size: 1.6rem;
}
.contact-form dt {
  margin-bottom: 10px;
}
.contact-form dt span {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 10px;
  color: #88371e;
}
.contact-form dt .contact-gray {
  font-weight: 400;
  color: #000;
}
.contact-form dd {
  margin-bottom: 30px;
}

.contact-item1 {
  margin-bottom: 30px;
}

.radio-list1 dd {
  margin-bottom: 10px;
  font-weight: 400;
}

.contact-item2 dd, .contact-item3 dd, .contact-item4 dd, .contact-item5 dd, .contact-item6 dd, .contact-item7 dd {
  background-color: #fff;
  border: #aaa 1px solid;
  border-radius: 5px;
}
.contact-item2 dd input, .contact-item3 dd input, .contact-item4 dd input, .contact-item5 dd input, .contact-item6 dd input, .contact-item7 dd input {
  width: 100%;
  padding: 10px;
}

textarea {
  width: 100%;
  padding: 5px 0 0 10px;
  font-weight: 400;
  height: 200px;
}

select {
  background-color: #fff;
  border: #aaa 1px solid;
  border-radius: 5px;
  font-weight: 400;
  width: 100%;
  padding: 10px;
}

.form-btn {
  margin-top: 30px;
  text-align: center;
}
.form-btn input {
  position: relative;
  display: inline-block;
  background-color: #283f79;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 15px 70px;
  letter-spacing: 0.2rem;
  transition: 0.3s ease;
}
.form-btn input:hover {
  background: linear-gradient(to right, #d25800 0%, #de8f07 50%, #d9b44e 100%);
  border-radius: 50px;
}

footer {
  background-color: #24386b;
}
footer #top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  opacity: 0;
  z-index: 999;
  transform: ease;
}
footer p {
  text-align: center;
  color: #fff;
  padding-bottom: 15px;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  padding: 20px 0 60px 0;
}
.footer-nav ul li {
  padding-left: 30px;
}
.footer-nav ul li:nth-child(1) {
  padding-left: 0;
}
.footer-nav ul li a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

/* メディアクエリ --*/
@media screen and (min-width: 768px) {
  /* PCヘッダー --*/
  header.scroll-nav .header-inner {
    padding: 5px 2% 0 2%;
  }
  .menu-btn {
    display: none;
  }
  .sub-nav {
    display: none;
  }
  .main-nav {
    display: block;
    transition: 0.5s;
  }
  .main-nav ul {
    display: flex;
    list-style: none;
  }
  .main-nav ul li {
    margin-right: 45px;
  }
  .main-nav ul li a {
    color: #333;
    font-size: 1.8rem;
    position: relative;
  }
  .main-nav ul li a::after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #000000;
    bottom: 0;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
  }
  .main-nav ul li a:hover::after {
    transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
  }
  header.scroll-nav .main-nav ul li a:hover::after {
    background: #fff;
  }
  /* PCメインビジュアル --*/
  .full-screen {
    height: 110vh;
  }
  .main-bg {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1000px;
  }
  .main-bg .bg {
    transform: translateY(13%);
  }
  .main-bg .bgicon {
    width: 40px;
    top: 60%;
    right: 15.5%;
  }
  .main-bg_text {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 0 2%;
  }
  .main-bg_textwrap {
    font-size: 2.3rem;
    line-height: 4.5rem;
    letter-spacing: 0.1rem;
    margin: 5px 0;
  }
  /*　PCワークス　ウェブサイト---- */
  .website {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
  }
  .works-website {
    width: calc(50% - 20px);
    height: 200px;
  }
  .works-website_text {
    font-size: 2.2rem;
  }
  /*　PCワークス　バナー---- */
  .banner {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
  }
  .works-banner {
    width: calc(33.33333% - 20px);
    height: auto;
  }
  /* PCアバウト　スキル --*/
  .works-skill ul {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
  }
  .works-skill ul li {
    width: calc(33.3333% - 20px);
    align-items: stretch;
    border-left: solid 1px #adadad;
    border-bottom: none;
  }
  .works-skill ul li:nth-child(1) {
    border-left: none;
  }
  .works-skill_title {
    vertical-align: middle;
  }
  /*　PCアバウト　プロフィール　---- */
  .about-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
  }
  .about-profile_title {
    width: 30%;
  }
  .about-profile_title img {
    width: 120px;
    height: 120px;
    margin-bottom: 0px;
  }
  .about-profile_text {
    width: 70%;
    padding: 35px;
  }
  .about-profile_text p {
    font-size: 1.6rem;
  }
  /* PC問い合わせ　--*/
  .contact-form {
    padding: 70px 120px;
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
  }
  .contact-text {
    text-align: center;
    margin: 20px auto;
  }
  .radio-list1 {
    display: flex;
    flex-wrap: wrap;
  }
  .radio-list1 dd {
    margin: 0 40px 10px 0;
    font-weight: 400;
  }
  .contact-item5 dd {
    width: 200px;
  }
  select {
    width: 300px;
  }
}
/*　メディアクエリ幅縮小---- */
@media screen and (max-width: 370px) {
  /*　ワークス　---- */
  .works-bigheadline::before {
    font-size: 200%;
    top: -55px;
    left: 25%;
  }
  /*　アバウト　---- */
  .about-bigheadline::before {
    font-size: 200%;
    top: -55px;
    left: 25%;
  }
  /*　問い合わせ　---- */
  .contact-bigheadline::before {
    font-size: 200%;
    top: -60px;
    left: 25%;
  }
}/*# sourceMappingURL=style.css.map */